<div>
    <h2>
        Породы животных
    </h2>
    <div *ngIf="breeds && breeds?.length > 0">
        <div class="col-md-4" *ngFor="let breed of breeds">
            <div class="card mb-4 box-shadow">
                
                <div class="card-body">
                  <p class="card-text">{{breed.name}}</p>
                  <p>Животные этой породы</p>
                  <div class="table-responsive" *ngIf="breed.animals && breed.animals.length > 0">
                    <table  >
                        <thead class="thead">
                            <tr>
                                <th scope="col">Кличка</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let animal of breed.animals">
                                <td>{{animal.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="alert alert-warning" *ngIf="breed.animals?.length == 0">
                    Нет информации о животных этой породы
                </div>
                </div>
              </div>
        </div>
    </div>
    <div class="alert alert-warning" *ngIf="breeds?.length == 0">
        Данные о породах не загружены
    </div>
</div>